#main {
  font-family: 'Roboto';
  font-weight: 300;
  background-color: #EEEEEE;
  padding: 10px;
}

#title {
  text-align: center;
  margin-bottom: 50px;
}
#img-div {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 100px 30px 100px;
}

#image {
  display: block;
  margin: auto;
  max-width: 100%;
}

#img-caption {
  font-style: italic;
  font-size: 12px;
  align-items: center;
  margin: auto;
}

li {
  width: 500px;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  text-align: justify;
}

h2 {
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50;
  margin-right: auto;
  margin-left: auto;
}

footer {
  color: white;
  background-color: #212121;
  height: 120px;
  text-align: right;
  padding-right: 10px;
  padding-top: 30px;
}

header {
  margin: 0%;
  padding: 0%;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
}
body {
  margin: 0%;
  padding: 0%;
}
#top-banner {
  display: flex;
  width: 100%;
  height: 50px;
}
